<ion-content [fullscreen]="true">
  <app-popup *ngIf="showPopup && checkInData" [title]="checkInData.name" [date]="checkInData.time" (close)="this.showPopup = false"></app-popup>

  <app-top-bar></app-top-bar>

  <div class="page">
    <app-card *ngIf="checkInData && !showPopup" [title]="checkInData.name" [date]="checkInData.time">
    </app-card>
    <div
      (click)="toggleRisk = !toggleRisk"
      *ngIf="!toggleRisk"
      class="img-wrapper">
      <img src="assets/Corona_Green.svg">
      <h1>Niedriges Risiko</h1>
      <h5>2 Begegnungen<span>mit niedrigem Risiko</span></h5>
    </div>
    <div
      (click)="toggleRisk = !toggleRisk"
      *ngIf="toggleRisk"
      class="img-wrapper">
      <img src="assets/Corona_Red.svg">
      <h1>Hohes Risiko</h1>
      <h5>4 Begegnungen<span>mit hohem Risiko</span></h5>
    </div>
    <app-row-button label="Positiven Fall melden" (callback)="null"></app-row-button>
  </div>
</ion-content>
