<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Tracing
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tracing</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="page">
    <app-card 
      *ngIf="checkInData"
      bright="true"
      color="white">
      <h2>Neuer Check-In</h2>
      <p style="color: black !important">Du bist hier eingecheckt: {{ checkInData.name }} </p>
      <ion-button
        (click)="confirmCheckInNotice()"
        color="primary">Ok</ion-button>
    </app-card>
    <app-card color="#3171e0">
      <h2>Niedrige Gefahr</h2>
      <p>Keine Kontakte bekannt.</p>
    </app-card>
  </div>
</ion-content>
