h1 {
  font-size: 36px;
  font-weight: 900;
}

.row h5 {
  padding-left: 8px;
  margin-bottom: -2px;
}

.icon {
  margin: -18px;
}

.col h4 {
  font-size: 18px;
  margin: 0;
}

.col h5 {
  font-size: 14px;
  margin: 0;
  font-weight: normal;
  margin-left: -8px;
}
.col {
  display: flex;
  flex-direction: column;
}