<app-top-bar></app-top-bar>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Vor Ort</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="page">
    <div class="img-wrapper">
      <img src="assets/ort-header.svg">
    </div>
    <div class="row"><img class="icon" src="assets/ort-icon1v.svg">
      <div class="col">
        <h4>Maskenpflicht</h4>
        <h5>Öffentliche Verkehrsmittel,<br>Öffentliche Plätze</h5>
      </div>
    </div>
    <div class="row"><img class="icon" src="assets/ort-icon2.svg">
      <div class="col">
        <h4>Kontaktbeschränkung</h4>
        <h5>Öffentlich: max. <b>5</b> Personen<br>Privat: max. <b>10</b> Personen</h5>
      </div>
    </div>
    <div class="row"><img class="icon" src="assets/ort-icon3.svg">
      <div class="col">
        <h4>Alkoholverbot</h4>
        <h5>Sperrstunde <b>23 bis 6 Uhr</b></h5>
      </div>
    </div>

  </div>

</ion-content>