<app-top-bar></app-top-bar>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Vor Ort</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="page">
    <app-card [color]="risk">
      <h2>Würzburg</h2> 
      <div class="row">
        <h1>21,5</h1>
        <h5>7-Tage Index</h5>
      </div>
    </app-card>
    <app-card color="white" bright="true">
      <h2>Beschränkungen</h2>
      <div class="row list">
        <ion-icon name="ellipse-outline" size="medium"></ion-icon>
        <span>Max. 10 Personen</span>
      </div>
      <div class="row list">
        <ion-icon name="ellipse-outline" size="medium"></ion-icon>
        <span>Sperrstunde um 23:00 Uhr</span>
      </div>
    </app-card>
  </div>
  
</ion-content>
